<div class="demo-page">
  <lte-alert>默认Alert（INFO）</lte-alert>
  <lte-alert type="warning">警告类型的Alert</lte-alert>
  <lte-alert type="danger">危险类型的Alert</lte-alert>
  <lte-alert type="success">成功类型的Alert</lte-alert>
  <lte-alert :calloutStyle="true">别理我</lte-alert>
  <lte-alert :closable="true" @close="onClose">允许关闭</lte-alert>
  <lte-alert :show-close-btn="true" @close="onClose">
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these
    sweet mornings of spring which I enjoy with my whole heart.
  </lte-alert>
  <lte-alert :calloutStyle="true" type="danger">
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these
    sweet mornings of spring which I enjoy with my whole heart.
  </lte-alert>
</div>
